.CommentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CommentForm-buttons {
  display: flex;
  gap: 10px;
}

.CommentForm-title {
  font-size: 12px;
  font-weight: 700;
}

.CommentForm-textarea {
  height: 56px;
  padding: 0;
}
